
/* CHARACTER declarations go here */
chars{
  text-align: center;
}

chars labels{
  list-style-type: none;
  margin: 0;
  padding: 0 0 5px;
  width: 100%;
  display: block;
}
chars labels stats{
  border: solid;
  padding: 0 2.5% 0;
  height: 20px;
  width: 10%;
  overflow: hidden;
 }
chars labels item{
  border-bottom: solid;
  display: inline-flex;
  padding: 0 2.5% 0;
  width: 10%;
}
